pandas
python-dotenv
pyodbc
apache-airflow
fastapi
pyodbc
bcrypt
jose
python-jose
PyJWT==2.0.1
scikit-learn
sqlalchemy
uvicorn
django
pytest-mock
pytest
python-jose[cryptography]
bcrypt
gunicorn
openai==0.28
requests
django
