{% extends 'base.html' %}

{% block title %}Search Movies{% endblock %}

{% block content %}
<h1>Search Movies</h1>
<form method="get" action="{% url 'search_movies' %}">
    <div class="form-group">
        <input type="text" class="form-control" name="query" placeholder="Search for a movie..." value="{{ query }}">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

{% if movies %}
    <h2>Results</h2>
    <div class="row">
        {% for movie in movies %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ movie.poster_link }}" class="card-img-top" alt="{{ movie.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.release_date }}</p>
                        <a href="{% url 'add_favorite_movie' movie.movie_id %}" class="btn btn-warning">Add to Favorites</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
