<!-- templates/movies/search.html -->
{% extends "base.html" %}

{% block title %}Search Movies{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Search Movies</h1>
    <form method="GET" action="{% url 'search_movies' %}">
        <div class="form-group">
            <input type="text" name="query" class="form-control" placeholder="Search for a movie...">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div class="row mt-4">
        {% for movie in movies %}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="{{ movie.poster_link }}" class="card-img-top" alt="{{ movie.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.release_date }}</p>
                        {% if movie.movie_id in favorite_movie_ids %}
                            <button class="btn btn-primary" disabled>Déjà vu</button>
                        {% else %}
                            <form method="POST" action="{% url 'add_favorite_movie' movie.movie_id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Ajouter aux vus</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}